:root{
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --text-dark: #454a4f;
    --bg-light: #fcfbfb;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== Navbar tweaks ===== */
.navbar {
    padding-top: 14px;
    padding-bottom: 10px; 
    /* border-bottom: 1px solid #e4e4e4; */
    background-color: var(--bg-light);
    border: 1px solid #cecaca;
}
.nav-logo {
    height: 38px; 
    width: auto;
}

.navbar .nav-link {
    /* color: var(--text-dark); */
    font-size: 15px;
}

.navbar .nav-link.signin-link {
    font-weight: 800;
}
.nav-divider{
    width: 1px;
    height: 20px;
    background: #c7c4c4;
    align-self: center;
    margin: 10px;
}
/* .navbar .nav-link.active-link {
    border-bottom: 3px solid var(--primary-color);
}
 */

 /* ===== Search ===== */
 .search-box {
    width: 80%;
    max-width: 950px;
    margin: 20px auto;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid var(--text-dark);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.search-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.search-divider {
    width: 1px;
    height: 35px;
    background: #c7c4c4;
    align-self: center;
}

.clear-btn {
    border: none;
    background: none;
    font-size: 20px;
    color: #777;
    cursor: pointer;
}

.search-btn {
    padding: 12px 25px;
    border-radius: 18px;
    font-weight: bold;
}
input.search-input::placeholder {
    color: var(--secondary-color) !important;
    font-weight: 300 !important;
}

/* ===== Footer ===== */
.footer {
    margin-top: auto;
    padding: 20px 0;
}
.footer-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
